<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>네비게이션바 테스트</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/fixed.css' %}">
</head>
<body>
    <nav class="wrap">
        <div>
            <h1 class="wineasy-logo">
                <a href="{% url 'main' %}" title="와인이지">Wineasy🍷</a>
            </h1>
        </div>
        <div class="user_menu">
            <button type="button" class="sideMenu" title="사이드메뉴 열기">
                <span class="burger">
                    <em></em><em></em><em></em>
                </span>
            </button>
        </div>
        <aside class="detail_user_menu">
            <button type="button" class="sideClose" title="사이드메뉴 닫기">
                <span class="cross">
                    <em></em><em></em>
                </span>
            </button>
            <div class="row"><br>
                <a href="{% url 'login' %}" class="member">로그인</a>
                <a href="{% url 'join' %}" class="member">회원가입</a>
                <a href="{% url 'mypage' %}">마이페이지</a>
                <a href="{% url 'mypreference' %}">나의 와인 취향</a>
                <a href="{% url 'myreview' %}">마이리뷰</a>
                <a href="{% url 'mypost' %}">나의 게시글</a>
            </div>
        </aside>
    </nav>
    <header class="main_menu">
        <nav>
            <a href="{% url 'recom' %}">와인 추천</a>
            <a href="{% url 'wine_info' %}">와인 정보</a>
            <a href="{% url 'review' %}">와인 리뷰</a>
            <a href="{% url 'community' %}">커뮤니티</a>
        </nav>
    </header>
<script src="/static/js/fixed.js"></script>
</body>
</html>