.start {
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 25px;
}

.title {
    padding-top: 15px;
    font-size: 35px;
}

.mainImage {
    max-width: 100%;
    width: 450px;
}

.intro{
    font-size: 20px;
}

.start_bt {
    cursor: pointer;
    width: 550px;
    border-radius: 5px;
    font-size: 22px;
    margin-top: 15px;
    padding: 10px;
    border: 0;
    background-color: rgb(146, 0, 0);
    color: white;
}