/* 사용할 폰트 정리 */
@font-face {
    font-family: 'H1Font';
    src: url('/static/fonts/KimjungchulScript-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'AFont';
    src: url('/static/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}

/* 배너 상단 디자인 */
header {
    width: 100%;
    background-color: rgb(146, 0, 0);
    padding: 0 10px;
    box-sizing: border-box; /* 패딩과 보더를 포함한 너비 계산 */
}

.wrap {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 사이에 공간을 고르게 분배 */
    align-items: center;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box; /* 패딩과 보더를 포함한 너비 계산 */
}

.color-box {
    display: flex;
    align-items: center;
    height: auto;
}

.usr_menu {
    display: flex;
    gap: 20px;
    align-items: center; /* 메뉴 아이템들을 수직 중앙 정렬 */
}

.color-box h1,
.usr_menu h4 {
    margin: 0;
}

.color-box h1 a,
.usr_menu h4 a {
    color: white; /* 링크 텍스트 색상 */
    text-decoration: none; /* 링크 텍스트 밑줄 제거 */
}

/* 폰트 배정 */
.color-box h1 {
    font-family: 'H1Font', sans-serif;
}

.usr_menu h4 {
    font-family: 'AFont', sans-serif;
}